<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Aikifomi</title>
		
		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	    <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	
	<body>
	
		<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
			
			<a class="navbar-brand" href="#">Aikifomi</a>
			
			<ul class="nav justify-content-end">
				<li class="nav-item">
				    <a type="button" class="btn btn-info" href="/cadastrarRestaurante">Cadastrar Estabelecimento</a>
				</li>
			</ul>
		</nav>
			
		<h1 class='text-center'> Lista de Estabelecimentos</h1>
		
		<div class="container">
			<div class="row justify-content-md-center">	
				<div class="col-8">
					<table class="table table-bordered">
						<thead>
						    <tr class="table-success">
						      <th class='text-center' scope="col">Estabelecimentos</th>
						      <th class='text-center' scope="col">Cnpj</th>
						      <th class='text-center' scope="col"></th>
						    </tr>
					  	</thead>
					  	<tbody>
						    <tr th:each="restaurante : ${restaurantes}">
						      	<td><a th:href="@{/{id}(id = ${restaurante.getId()})}"><spam th:text="${restaurante.nome}"></spam></a></td>
						     	<td ><a><spam th:text="${restaurante.cnpj}"></spam></a></td>
						     	<td class='text-center'>
						    		<a th:href="@{'/restaurante/deletar/' + ${restaurante.getId()}}">
						    			Deletar
						    		</a>
								</td>
						    </tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	
		<!-- Optional JavaScript -->
    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	</body>

</html>